# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment files
.env

# VS Code
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/
